.search-form {
  position: relative;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
}
input {
  width: 100%;
  height: 40px;
  border: 1px solid #2682bb;
  border-radius: 5px;
  outline: none;
  background: #f9f5da;
  color: #022236;
}
.search-city {
  border: none;
  color: #f6e881;
  background: #2682bb;
  border-radius: 5px;
  cursor: pointer;
}
.search-city:hover {
  color: #2682bb;
  background-color: #f6e881;
}
.location-button {
  color: #2682bb;
  background: #f6e881;
  border-radius: 5px;
  border: none;
  width: 160px;
  height: 40px;
}
.location-button:hover {
  color: #f6e881;
  background-color: #2682bb;
}
.col-3 {
  width: 20%;
}
body {
  font-family: "Roboto Flex", sans-serif;
  background: no-repeat url(Ukraine.jpg);
  background-size: 100%;
}
h2 {
  font-size: 22px;
}
ul {
  list-style: none;
  margin-bottom: 0;
}
.container {
  max-width: 700px;
  margin-top: 30px;
  padding: 20px 50px;
  border-radius: 5px;
  background: linear-gradient(#5b92f1, #f6e881);
  opacity: 0.9;
}
.city {
  font-size: 30px;
  font-weight: 300;
}
.float-left {
  margin-left: 32px;
}
.day {
  font-weight: bold;
  color: #2682bb;
}
.max-temperature {
  font-size: 14px;
  font-weight: bold;
}
.min-temperature {
  font-size: 12px;
}
.icon-weather {
  font-size: 25px;
  color: #2682bb;
  margin-top: 5px;
}

.date {
  font-size: 12px;
}
.temperature {
  font-size: 46px;
}
.units {
  position: relative;
  top: -22px;
}
.celsius {
  text-decoration: none;
  color: #116494;
}
.developer {
  font-size: 14px;
  text-align: center;
  margin: 35px 0 0;
  opacity: 1;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li:first-letter {
  text-transform: capitalize;
}
.current-weather {
  margin-left: 90px;
}
