.search-form {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.search-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2682bb;
  border-radius: 5px;
  outline: none;
  background: #f9f5da;
  color: #022236;
}
button {
  position: absolute;
  width: 90px;
  height: 40px;
  border: none;
  color: #f6e881;
  background: #2682bb;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  color: #2682bb;
  background-color: #f6e881;
}
.btn {
  color: #2682bb;
  background: #f6e881;
  border-radius: 5px;
  border: none;
  width: 50px;
  margin-left: 15px;
}
.btn:hover {
  color: #f6e881;
  background-color: #2682bb;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background: no-repeat url(Ukraine.jpg);
  background-size: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 650px;
  margin-top: 40px;
  padding: 20px 50px;
  border-radius: 8px;
  background: linear-gradient(#5b92f1, #f6e881);
  opacity: 0.9;
}
.city {
  font-size: 42px;
}
.weather-forecast-day {
  font-weight: bold;
  color: #2682bb;
  margin-top: 20px;
}
.max-temperature {
  font-size: 16px;
  font-weight: bold;
}
.min-temperature {
  font-size: 13px;
}
.date {
  font-size: 12px;
}
.temperature {
  font-size: 46px;
}
.units {
  position: relative;
  top: -22px;
}

.developer {
  font-size: 14px;
  text-align: center;
  margin: 35px 0 0;
  opacity: 1;
}
.developer-link {
  text-decoration: none;
}
.developer-link:hover {
  text-decoration: underline;
}

li:first-letter {
  text-transform: capitalize;
}
.current-weather {
  margin-left: 140px;
}
.current-weather .celsius {
  color: #022236;
  cursor: default;
  text-decoration: none;
}
.current-weather .fahrenheit {
  color: #87757a;
  text-decoration: none;
}
.current-weather .fahrenheit:hover {
  color: #87757a;
}
.weather-forecast {
  text-align: center;
}
.current-time,
.current-weather {
  font-size: 16px;
}
